@model IEnumerable<WebAppiController.Models.peliculas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (TempData["error"] != null)
{
    <div class="alert alert-danger">@TempData["error"]</div>
}
@if (TempData["mensaje"] != null)
{
    <div class="alert alert-success">@TempData["mensaje"]</div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emicion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emicion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
